<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p><% if @task.completed == true %>
    <%= "This task is completed" %>
    <% else %>
    <%= "This task is not completed" %>
    <% end %>
</p>

<%= link_to "Back to List  | ", tasks_path %>
<%= link_to "Edit task", edit_task_path %>
<%= link_to "Delete", task_path(@task),
    data: { turbo_method: :delete, turbo_confirm: "Are you sure" }%>
